<h1>Link-kisalt api-doc</h1>
<hr>
<h3>veri kaydetme</h3>
<br>
<span>POST http://localhost:3000/ body: url: link id: istenilen id</span>
<hr>
<h3>Veri alma</h3>
<br>
<span>GET http://localhost:3000/api/:id id: link id</span>