<form action="/" method="post">
    <h1>Link kısaltıcı</h1><br>
    <input type="url" name="url" placeholder="Url" required autocomplete="off"><br><br>
    <input type="text" name="id" placeholder="id" required autocomplete="off"><br><br>
    <button type="submit" class="btn btn-success">Gönder</button>
</form>